* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.card {
    display: inline-flex;
    padding: 32px 38px;
    flex-direction: column;
    gap: 42px;
    border-radius: 24px;
    background: #FFF;
    width: 778px;
    margin: 50px 300px;
}

.block .card h3 {
    color: var(--Dark, #2A2941);
    font-family: Circular Std;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* margin-bottom: 6px; */
}

.block .card h5 {
    color: var(--30-black, #B3B3B3);
    font-size: 16px;
    font-weight: 450;
    /* margin-bottom: 2px; */
}

.block .card form label {
    color: var(--Dark, #2A2941);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Circular Std;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-bottom: 8px;
}

.block .card form .input {
    display: flex;
    width: 702px;
    padding: 18px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid #E3E3E3;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .select {
    display: flex;
    justify-content: space-between;
}

.card .select select {
    width: 341px;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid #E3E3E3;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card .time .time1 input {
    display: flex;
    width: 341px;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid #E3E3E3;
    margin-top: 8px;
}

.card .time .time2 input {
    display: flex;
    width: 341px;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid #E3E3E3;
    margin-top: 8px;
}

.card .button {
    display: flex;
    justify-content: space-between;
}

.card .button .ortga {
    display: flex;
    width: 179.841px;
    height: 60px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F8F8F8;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.card .button .keyingisi {
    display: inline-flex;
    height: 60px;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Mai, #5361E4);
    margin-top: 20px;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Circular Std;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

/* medium styles */

.chekbox {
    margin-top: 32px;
    margin-bottom: 32px;
    color: #2A2941;
    font-size: 14px;
    font-weight: 450;
}

.chekbox label{
    margin-left: 12px;
}
.file input{
    display: flex;
width: 702px;
padding: 18px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 16px;
border: 1px dashed #E3E3E3;
background: #F8F8FF;
color: var(--Mai, #5361E4);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Circular Std;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 8px;
text-align: center;
}
